@charset "ISO-8859-1";
@charset "ISO-8859-1";
* {

  box-sizing: border-box;

  font-family: Arial, sans-serif;

}



body {

  /* display: flex; */

  justify-content: center;

  align-items: center;

  height: 100vh;

  background-color: #f2f2f2;

  margin: 0;

}


.navbar {

 width: 100%;

 height: 60px;

 background-color: #1A73E8;

 display: flex;

 align-items: center;

 justify-content: center;

 box-shadow: 0 17px 19px rgba(0, 0, 0, 0.1);

 border-radius: 8px;

}



.navbar-title {

 font-size: 24px;

 font-weight: bold;

 color: white;

 text-decoration: none;

}



.navbar-title:hover {

 font-size: 26px;

 color: #31cdd7;

}

.loginContainer{

  width: 400px;
  margin-left:500px;
  margin-top:100px;

  background-color: #ffffff ;

  padding: 20px;

  border-radius: 8px;

  box-shadow: 0 17px 30px rgba(64, 62, 62, 0.7);

}
.container {
	margin-left:440px;
  width: 500px;
  background-color: #ffffff ;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 17px 30px rgba(64, 62, 62, 0.7);
}

nav{
	width:100%;
	margin-top:-350px;
}
nav ul {
 padding: 0;
 margin: 0;
 background-color: #1A73E8;
 width: 100%;
 display: flex;
 height: 60px;
 box-shadow: 0 17px 19px rgba(0, 0, 0, 0.1);
 border-radius: 8px;
}
nav ul li {
 display: inline-block;
 margin: 0 20px;
 padding: 15px 20px;
 font-size: 18px;
 color: #fff;
 border-radius: 8px;
 transition: all 0.3s ease;
}
nav ul li:hover {
transform: translateY(-4px);
}
nav a {
 text-decoration: none;
 color:white;
 font-weight: bold;
 transition: color 0.3s ease;
}
nav a:hover {
 color: #31cdd7 ;
}
h2 {
	font-weight:bold;

  text-align: center;

  color: #007AFF;

}



.section {

  margin-top: 20px;

}



h3 {
	font-weight:bold;

  color: #007AFF;

  font-size: 1.2em;

}



label {

  display: block;

  margin-top: 10px;

  color: #333333;

}

select{

  width: 100%;

  padding: 8px;
  
  color:#807c00 ;

  margin-top: 5px;

  border: 1px solid #cccccc;

  border-radius: 4px;
  font-weight:bold;
  
  background-color:#F5F5F5;


}

input[type="text"],

input[type="email"],

input[type="password"]{

  width: 100%;

  padding: 8px;
  
  color:#764200 ;
  
  font-weight:bold;

  margin-top: 5px;

  border: 1px solid #cccccc;

  border-radius: 4px;
  
  background-color:#F5F5F5;

}
.btn {

  background-color: #1A73E8;

  color: white;

  padding: 10px;

  border: none;

  border-radius: 5px;

  cursor: pointer;

  margin-top: 20px;

  width: 48%;

}
.heading{
	width:100%;
	margin-bottom:580px;
}
.heading a {
 padding: 0;
 margin: 0;
 background-color: #1A73E8;
 width: 100%;
 display: flex;
 height: 60px;
 box-shadow: 0 17px 19px rgba(0, 0, 0, 0.1);
 border-radius: 8px;
}
.btn:hover {

  background-color: #31cdd7;
  color:black;
  font-size:19px;
}
a{
	color:#00831c;
    cursor:pointer;
    text-decoration:none;
}
a:hover{
	font-size:20px;
}
.invalid {
  border: 2px solid red;
}
.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}
